<head>
  <title>bounding-box</title>
</head>

<body>
  {{> hello}}
  <div class="map" id="map">
  </div>
  {{> map_area}}
</body>

<template name="hello">
  <input type="button" value="Click me!" />
</template>

<template name="map_area">
  [Number of items = {{dummy_data}}]
</template>